services:
  backend:
    container_name: generate-question-backend
    build:
      context: ./backend
    ports:
      - "8001:8001"
    volumes:
      - ./backend:/app
      - /app/venv
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./backend/.env

  frontend:
    container_name: generate-question-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "5174:5174"
    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  sympy:
    container_name: generate-question-sympy
    build:
      context: ./sympy
    ports:
      - "8002:8002"
    volumes:
      - ./sympy:/app
      - /app/venv
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./sympy/.env
